<div>
  <h1>Detail</h1>
  <div class="underLine"></div>
  <nz-card>
    <div>
      <h4>Date</h4>
      <p>{{RatingGet.date}}</p>
      <h4>Rating</h4>
      <p>{{RatingGet.rating}}</p>
      <h4>Mood</h4>
      <p>{{RatingGet.mood}}</p>
      <h4>Comment</h4>
      <p>{{RatingGet.comment}}</p>
    </div>
    <div>
      <div>
        <p>mood</p>
        <nz-select [(ngModel)]="RatingUpdate.mood" nzAllowClear nzPlaceHolder="Choose" class="selector">
          <nz-option nzValue="Angry" nzLabel="Angry"></nz-option>
          <nz-option nzValue="Anxious" nzLabel="Anxious"></nz-option>
          <nz-option nzValue="Hyper" nzLabel="Hyper"></nz-option>
          <nz-option nzValue="Calm" nzLabel="Calm"></nz-option>
          <nz-option nzValue="Sad" nzLabel="Sad"></nz-option>
          <nz-option nzValue="Motivated" nzLabel="Motivated"></nz-option>
          <nz-option nzValue="Happy" nzLabel="Happy"></nz-option>
          <nz-option nzValue="Tired" nzLabel="Tired"></nz-option>
          <nz-option nzValue="Stressed" nzLabel="Stressed"></nz-option>
          <nz-option nzValue="Neutral" nzLabel="Neutral"></nz-option>
        </nz-select>
        <p>rating</p>
        <nz-input-number [(ngModel)]="RatingUpdate.rating" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
      </div>
      <textarea nz-input placeholder="Autosize height with minimum and maximum number of lines"
        [(ngModel)]="RatingUpdate.comment" [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
      <div>
        <button (click)="UpdateRating()">UPDATE</button>
        <button (click)="DeleteRating()">delete</button>
      </div>
    </div>
  </nz-card>
</div>
