h1 {
  text-align: center;
}

.selector {
  width: 130px;
}
.buttonDiv {
  display: flex;
  flex-direction: row;

  div {
    display: flex;
    border: none;
    font-size: 16px;
    align-self: center;
    justify-self: center;
    flex-direction: row;
  }
}
button {
  display: flex;
  border: none;
  font-size: 16px;
  align-self: center;
  justify-self: center;
  flex-direction: row;
  height: 40px;
  transition: 0.1s;
}

button:hover {
  background-color: rgb(223, 223, 223);
}

i {
  margin-right: 10px;
}

.line {
  height: 40px;
  width: 1px;
  background-color: rgb(184, 182, 182);
  margin: 0 10px 0px 10px;
}

form {
  border: 1px rgba(100, 100, 100, 0.5) solid;
}
