h1 {
  text-align: center;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  padding: 20px;

  div {
    display: flex;
    border: none;
    font-size: 16px;
    align-self: center;
    justify-self: center;
    flex-direction: row;
  }
}
button {
  display: flex;
  border: none;
  font-size: 16px;
  align-self: center;
  justify-self: center;
  flex-direction: row;
  height: 40px;
  transition: 0.1s;
}

button:hover {
  background-color: rgb(223, 223, 223);
}

.line {
  height: 40px;
  width: 1px;
  background-color: rgb(184, 182, 182);
  margin: 0 10px 0px 10px;
}

form {
  padding: 20px;
  border: 1px solid rgba(184, 182, 182, 0.486);
}
