<div>
  <li *ngFor="let rating of RatingGet">
    <p>{{rating.date}}</p>
    <p>{{rating.rating}}</p>
    <p>{{rating.mood}}</p>
    <p>{{rating.comment}}</p>
  </li>
</div>
<button (click)="GetRating()">getRatings</button>
<div>
  <nz-date-picker [(ngModel)]="RatingPost.date"></nz-date-picker>
  <input type="text" [(ngModel)]="RatingPost.rating">
  <nz-select [(ngModel)]="RatingPost.mood" nzAllowClear nzPlaceHolder="Choose">
    <nz-option nzValue="Angry" nzLabel="Angry"></nz-option>
    <nz-option nzValue="Anxious" nzLabel="Anxious"></nz-option>
    <nz-option nzValue="Hyper" nzLabel="Hyper"></nz-option>
    <nz-option nzValue="Calm" nzLabel="Calm"></nz-option>
    <nz-option nzValue="Sad" nzLabel="Sad"></nz-option>
    <nz-option nzValue="Motivated" nzLabel="Motivated"></nz-option>
    <nz-option nzValue="Happy" nzLabel="Happy"></nz-option>
    <nz-option nzValue="Tired" nzLabel="Tired"></nz-option>
    <nz-option nzValue="Stressed" nzLabel="Stressed"></nz-option>
    <nz-option nzValue="Neutral" nzLabel="Neutral"></nz-option>
  </nz-select>
  <input type="text" [(ngModel)]="RatingPost.comment">
  <button (click)="PostRating()">Post</button>
</div>

<nz-calendar>
  <ul *nzDateCell="let date" class="events">
    <ng-container *ngFor="let event of RatingGet">
      <li nz-popover *ngIf="event.date.getDate() === date.getDate() && event.date.getMonth() === date.getMonth()" nzTitle="{{ event.comment }}"
        nzContent="{{ event.comment }}">
        <nz-badge [nzStatus]="event.comment" [nzText]="event.comment"></nz-badge>
      </li>
    </ng-container>
  </ul>
</nz-calendar>
