.postRate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mood {
  width: 130px;
}

nz-input-number {
  width: 60px;
}

.postRateCard {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: #f0f0f0;
  border: 1px rgba(172, 172, 172, 0.274) solid;

  .date {
  }

  .rate {
    display: flex;
    flex-direction: row;
  }

}
