.postRate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  border: 1px solid rgba(184, 182, 182, 0.486);
}

.postRateCard {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: #f0f0f0;
  border: 1px rgba(0, 0, 0, 0.25) solid;
  align-self: center;
  justify-self: center;
  padding: 20px;
}

.postBtn:active + .postRate {
  display: none;
  background-color: red;
  visibility: hidden;
}
.postBtn {
  margin-top: 20px;
}

.postRate {
  height: 100%;
}


