.postRate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  padding: 24px;
}

.postRateCard {
  padding: 24px;
  border: 1px solid rgba(184, 182, 182, 0.486);
}

.postBtn {
  margin-top: 20px;
}

.postRate {
  height: 100%;
}
