<p>statistic works!</p>
<nz-month-picker [(ngModel)]="month" [nzPlaceHolder]=month (ngModelChange)="onChange($event)"></nz-month-picker>
<button (click)="getMonth()">get month</button>
<p>days rated so far</p>
<nz-progress [nzPercent]="this.percent"></nz-progress>
<nz-progress [nzPercent]="50" nzStatus="active"></nz-progress>
<nz-progress [nzPercent]="70" nzStatus="exception"></nz-progress>
<nz-progress [nzPercent]="100"></nz-progress>
<nz-progress [nzPercent]="50" [nzShowInfo]="false"></nz-progress>
