<div>
  <p>statistic works!</p>
  <div>
    <nz-month-picker [(ngModel)]="month" [nzPlaceHolder]=month (ngModelChange)="onChange($event)"></nz-month-picker>
    <button (click)="getMonth()">get month</button>
    <div class="statistic">
      <div>
        <nz-statistic [nzValue]="this.averageRating | number: '1.0-2'" [nzTitle]="'Average'" [nzSuffix]="''"
        [nzValueStyle]="{ color: '#3F8600' }" class="average">
      </nz-statistic>
      </div>
      <div>
        <p>Days Rated</p>
        <nz-progress [nzPercent]="this.percent"></nz-progress>
      </div>

    </div>
  </div>
</div>
