h1 {
  text-align: center;
}

.statistic {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.moodPercent {
  width: 300px;
}

.ratePercent {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(170, 170, 170, 0.4);
  padding: 24px;
}
