@media screen and (max-width: 1900px) {
  .charts {
    .charts {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 1900px) {
  .charts {
    display: flex;
    flex-direction: row;
  }
}
.charts {
  border: 1px solid rgba(184, 182, 182, 0.486);
  padding: 24px;
  width: 100%;
  justify-content: space-around;

  div {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

h1,
h4,
nz-statistic {
  text-align: center;
}

.ratePercent {
  display: flex;
  flex-direction: row;
  padding: 24px;

  .avg {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid rgba(184, 182, 182, 0.486);
    padding: 24px;
    height: 600px;
  }

  .progressDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
