<div>
  <h1>Statistic</h1>
  <div class="underLine"></div>
  <div class="statistic">
    <div class="ratePercent">
      <div class="avg">
        <div>
          <h4>Average</h4>
          <nz-statistic [nzValue]="this.averageRating | number: '1.0-2'" [nzValueStyle]="{ color: '#3F8600' }"
            class="average">
          </nz-statistic>
        </div>
        <div class="progressDiv">
          <h4>Days Rated</h4>
          <nz-progress [nzPercent]="this.percent" nzSize="small" nzType="circle"></nz-progress>
        </div>
        <div>
          <h4>Choose a month</h4>
          <nz-month-picker [(ngModel)]="month" [nzPlaceHolder]=month (ngModelChange)="onChangeMonth($event)">
          </nz-month-picker>
          <h4>Choose a year</h4>
          <nz-year-picker [(ngModel)]="year" (ngModelChange)="onChangeYear($event)" nzPlaceHolder="Select year">
          </nz-year-picker>
        </div>
      </div>
      <div class="charts">
        <div style="width: 100%; height: 500px;">
          <h4>Moods</h4>
          <ngx-charts-pie-chart [view]="view" [scheme]="colorSchemePie" [results]="PieChart" [legend]="showLegend"
            [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut">
          </ngx-charts-pie-chart>
        </div>
        <div style="width: 100%; height: 500px;">
          <h4>Ratings</h4>
          <ngx-charts-line-chart [view]="view" [scheme]="colorSchemeLine" [results]="LineChart" [legend]="legend"
            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline" [maxXAxisTickLength]=10
            [yScaleMax]=10 [yScaleMin]=-1 [autoScale]=true>
          </ngx-charts-line-chart>
        </div>
      </div>
    </div>
  </div>
</div>
