h1 {
  text-align: center;
}

.statistic {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;

}

.moodPercent {
  padding: 24px;
  width: 500px;
  border: 1px solid rgba(170, 170, 170, 0.4);
}

.ratePercent {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(170, 170, 170, 0.4);
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  height: 560px;
  margin-right: 10px;

}

h4, nz-statistic {
  text-align: center;
}
